<h1><%= @teacher.title %> <%= @teacher.name_last %></h1>
<p>Students</p>
<ul>
  <% @students.each do |student| %>
    <%= link_to student_path(student) do %>
      <li><%= student.name_first %> <%= student.name_last %></li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Show Class Report", reports_path %>
